div{
    color: rgb(10, 90, 10);
    font-family: fantasy;
    color: rgb(74, 110, 141);
    color: rgb(196, 113, 41);
    color: rgb(177, 49, 49);
    color: rgb(241, 246, 251);
    color: rgb(39, 34, 34);
    color: azure;
    color: rgb(132, 136, 21);
    color: gold;
    justify-content: space-around;
}