.h1-text {
  position: absolute;
  margin-left: 3vw;
  top: 9.2vh;
  color: white;
}
.type-text {
  font-size: 1.3rem !important;
  color: white !important;
}
.icon-arrow {
  position: relative;
  top: 0.7vh;
}
@media (max-width: 400px) {
  .h1-text {
    font-size: 1.5rem;
    position: relative;
    left: 3vw;
    top: -0vh;
    left: 10vw;
  }
}
